<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
			xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">

	<targets>
		<target
			name="logfile"
			xsi:type="File"
			layout="${longdate} ${callsite} ${level} ${message} ${exception:format=tostring} ${stacktrace}"
			fileName="${basedir}/nlog.txt"
			/>

		<!--layout="${longdate} ${callsite} ${level} ${message} ${exception:format=tostring} ${stacktrace}"-->
		<target name="gmail" type="Mail"
			layout="${longdate} ${callsite} ${level} ${message} ${exception:format=tostring} ${stacktrace}"
			 smtpServer="smtp.mail.ru"
			 smtpPort="25"
			 smtpAuthentication="Basic"
			 smtpUsername="logger.mic@mail.ru"
			 smtpPassword="ilovemic2012it"
			 from="logger.mic@mail.ru"
			 to="kalashnikovisme@gmail.com"
					/>
	</targets>

	<rules>
		<logger name="*" minlevel="Trace" writeTo="logfile" />
		<logger name="*" minlevel="Debug" writeTo="gmail" />
	</rules>
</nlog>